<!DOCTYPE html>
<html>
<head>
<title></title>
</head>
<body>
	<div>
	<h3>เปรียบเทียบ:</h3>
    	<input id="compare_date1" type="date" name="bday"><p>กับ</p><input id="compare_date2" type="date" name="bday">
    	<input id="date_compare" onclick="compare_date()" type="submit">
    	<h3>เลือกกราฟที่แสดง:</h3>
        	<ul>
            	<p><img onclick="chart_liner_compare()" src="/img/chart_line.jpg"  class="img-rounded"  width="250" height="150"></p>
            	<p><img onclick="chart_Area_compare()" src="/img/chart_Area.png"   class="img-rounded"  width="250" height="150"></p>
        	</ul>
	</div>

<div class="container">
    <div style="width:1150px; height:1200px;" class="well">
      <h4>แสดงกราฟ</h4>
        <div id="chart_line" style="width:1150px; height:600px;"></div>
        <div id="chart_Area" style="width:1150px; height:600px;"></div>
        <div id="chart_stacked" style="width:1150px; height:600px;"></div>
        <div id="chart_div" style="width:1150px; height:600px;"></div>
        <div id="chart_liner_compare1"></div>
        <div id="chart_Area_compare1"></div>
        <div id="chart_liner_compare2"></div>
        <div id="chart_Area_compare2"></div>
     </div>
</div>
</body>
</html>