<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="utf-8">
      <title><%- title %></title>
      <meta name="description" content="">
      <meta name="author" content="">
      <!-- HTML5 shim, for IE6-8 support of HTML elements -->
      <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>

      <![endif]-->
  <!-- <link rel="stylesheet" type="text/css" href="../../../node_modules/bootstrap/dist/css/bootstrap.css"> -->

      

      <script src="/node_modules/jquery/dist/jquery.min.js"></script>
      <script src="/node_modules/bootstrap/dist/js/bootstrap.js"></script>
      <script src="/node_modules/moment/moment.js"></script>
     
      
      
      <link rel="stylesheet" type="text/css" href="/node_modules/bootstrap/dist/css/bootstrap.css" />
      
      

      <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
      <script src="/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
      <script src="js/chart.js"></script>
      <script src="/node_modules/moment/moment.js"></script>


      <!-- styles -->

      <link href="stylesheets/style.css" rel="stylesheet">
      <link href="/node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
      <link href="css/chart.css" rel="stylesheet">


      
  </head>
<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">

    </div>
  </div>
</div>


<nav class="navbar navbar-inverse" style="background-color:#1D1D1D" >
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="http://www.set.or.th/king.html">ตลาดหลักทรัพย์</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="/">Home</a></li> 
      <li><a href="compare">เปรียบเทียบ</a></li>
     
    </ul>
  </div>
</nav>

<%- body %>

</html>


